# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/


# Models — ignore all except streamlit model
models/*
!models/gbc_tuned_streamlit.pkl

# Credentials
.env

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
notebooks/logs.log
logs.log

# CatBoost
notebooks/catboost_info/

# Excel files
*.xlsx


# Charts
charts/

# Presentations
presentation/